.div1 {
    position: relative;
    border-style: solid;
    color: red;
    width: 100px;
    height: 700px;
    top: 25px;
    left: 25px;
}

.div2 {
    position: fixed;
    border-style: solid;
    color: purple;
    width: 300px;
    height: 300px;
    left: 100%;
    margin-left: -350px;
    bottom: 50px;
}