#primeiroh1 {
    color:aliceblue;
}

#segundoh1 {
    color:antiquewhite
}

#terceiroh1 {
    color:aqua;
}

#primeirop {
    color:beige;
    background-image:url("https://yt3.ggpht.com/ytc/AKedOLQSeX6Nih4BXw3B-6WzTB5ACpR4jbc1QSiGUoZm-g=s900-c-k-c0x00ffffff-no-rj")
}

#segundop {
    color:azure;
    background-image:url("https://yt3.ggpht.com/ytc/AKedOLQSeX6Nih4BXw3B-6WzTB5ACpR4jbc1QSiGUoZm-g=s900-c-k-c0x00ffffff-no-rj")
}

#terceirop {
    color:aquamarine;
    background-image:url("https://yt3.ggpht.com/ytc/AKedOLQSeX6Nih4BXw3B-6WzTB5ACpR4jbc1QSiGUoZm-g=s900-c-k-c0x00ffffff-no-rj")
}